
<% provide(:title, 'sign up') %>
<h1>Clock+</h1>
<h2>Clock+ built by Andrew Harris - email: s3667983@student.rmit.edu.au - attempt grade level: pass - tutor group: Thursday 5:30pm Group</h2>

<div class = "row"> 
<div class = "col-md-6 col-md-offset-2">
  <span style="font-size: 15px; color: green">
  <li><i class="fas fa-circle">Business times</i>
  </span></li>
  <span style="font-size: 15px; color: orange">
  <li><i class="fas fa-circle">Business overtimes</i>
  </span></li>
  <span style="font-size: 15px; color: red">
  <li><i class="fas fa-circle">Person times</i>
  </span></li>
  <span style="font-size: 18px; color: grey">
  <li><i class="fas fa-circle">Sleeping times</i>
  </span></li>
 </div>

<div class = "col-md-6 col-md-offset-5">
  <%= form_for(@user, url: cities_path) do |f| %>
    <span style="font-size: 28px; color: red">
    <li>Melbourne: 8:32pm </li></span>
    <li></li>
    <span style="font-size: 28px; color: green">
    <li>Los Angeles: 12:15pm</li></span>
    <li></li>
    <span style="font-size: 28px; color: grey">
    <li>New York: 6:32am</li></span>
  <% end %>
  </div>
</div>


